{% extends "base.html" %}
{% block content %}
<div class="landing-container">
  <div class="landing-left">
    <div class="landing-content">
      <div class="landing-header">
        <div class="display-1 text-white">Welcome To</div>
        <div class="logo-text text-white">Third Spots</div>
      </div>
      <div class="heading-2 text-white">Discover, Share, and Save the hidden places that make your city feel personal.
      </div>
      <button class="button button--secondary" id="loginButton" type="button">
        Login <i class="fa-solid fa-arrow-right-to-bracket"></i>
      </button>
    </div>
  </div>
  <div class="landing-right">
    <img class="landing-image"
      src="https://t4.ftcdn.net/jpg/02/65/42/55/360_F_265425516_wtAw64cGdOVvrdl64b5bsyBqcD0rkw1W.jpg" />
  </div>
</div>
{% endblock %}