<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Emilys+Candy&family=IBM+Plex+Serif:wght@400&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
<link rel="stylesheet" href="style.css">

<header class="header">
    <div class="header-inner">
        <div class="logo-group">
            <div class="logo-text">Third</div>
            <div class="logo-text">Spots</div>
        </div>
        <i class="fa-solid fa-circle-user icon-profile"></i>
    </div>
</header>

<body>

    <script>

    </script>
</body>