<div class="add-spot-backdrop" id="addSpotBackdrop" hidden></div>

<div class="add-spot-popup" id="addSpotPopup" hidden aria-hidden="true">
    <div class="add-spot-popup__panel">
        <div class="display-2 text-black add-spot-popup__title">New Spot</div>

        <div class="add-spot-popup__content">
            <div class="add-spot-popup__left">
                <div class="add-spot-field">
                    <input id="newSpotName" class="add-spot-input heading-3 text-black" type="text"
                        placeholder="Spot Name">
                </div>

                <div class="add-spot-field">
                    <input id="newSpotCoordinates" class="add-spot-input heading-3 text-black" type="text"
                        placeholder="Spot Coordinates (Lat, Long)">
                </div>

                <div class="add-spot-field">
                    <input id="newSpotDescription" class="add-spot-input heading-3 text-black" type="text"
                        placeholder="Spot Description">
                </div>
            </div>

            <div class="add-spot-popup__middle">
                <div class="heading-3 text-black add-spot-section-title">Pricing Tier</div>

                <div class="add-spot-price-selector" id="addSpotPriceSelector">
                    <button class="add-spot-price-free add-spot-price-free-row" id="addSpotPriceFree" type="button"
                        aria-pressed="false">
                        FREE
                    </button>
                    <div class="add-spot-price-dollars">
                        <button class="add-spot-price-dollar" type="button" data-add-spot-price="1"
                            aria-pressed="false">
                            $
                        </button>
                        <button class="add-spot-price-dollar" type="button" data-add-spot-price="2"
                            aria-pressed="false">
                            $$
                        </button>
                        <button class="add-spot-price-dollar" type="button" data-add-spot-price="3"
                            aria-pressed="false">
                            $$$
                        </button>
                        <button class="add-spot-price-dollar" type="button" data-add-spot-price="4"
                            aria-pressed="false">
                            $$$$
                        </button>
                    </div>
                </div>
            </div>

            <div class="add-spot-popup__right">
                <div class="heading-3 text-black add-spot-section-title">Tags</div>

                <div class="add-spot-tags" id="addSpotTags">
                    <button class="filter-icon add-spot-tag" type="button" data-tooltip="Food" aria-pressed="false">
                        <i class="fa-solid fa-utensils"></i>
                    </button>
                    <button class="filter-icon add-spot-tag" type="button" data-tooltip="Drink" aria-pressed="false">
                        <i class="fa-solid fa-mug-hot"></i>
                    </button>
                    <button class="filter-icon add-spot-tag" type="button" data-tooltip="Casual" aria-pressed="false">
                        <i class="fa-solid fa-shirt"></i>
                    </button>
                    <button class="filter-icon add-spot-tag" type="button" data-tooltip="Formal" aria-pressed="false">
                        <i class="fa-brands fa-black-tie"></i>
                    </button>
                    <button class="filter-icon add-spot-tag" type="button" data-tooltip="Nature" aria-pressed="false">
                        <i class="fa-solid fa-tree"></i>
                    </button>
                    <button class="filter-icon add-spot-tag" type="button" data-tooltip="Sports" aria-pressed="false">
                        <i class="fa-solid fa-football"></i>
                    </button>
                    <button class="filter-icon add-spot-tag" type="button" data-tooltip="Recreation"
                        aria-pressed="false">
                        <i class="fa-solid fa-person-running"></i>
                    </button>
                    <button class="filter-icon add-spot-tag" type="button" data-tooltip="Study" aria-pressed="false">
                        <i class="fa-solid fa-book"></i>
                    </button>
                    <button class="filter-icon add-spot-tag" type="button" data-tooltip="Historic" aria-pressed="false">
                        <i class="fa-solid fa-landmark"></i>
                    </button>
                    <button class="filter-icon add-spot-tag" type="button" data-tooltip="Religious"
                        aria-pressed="false">
                        <i class="fa-solid fa-person-praying"></i>
                    </button>
                    <button class="filter-icon add-spot-tag" type="button" data-tooltip="Sightseeing"
                        aria-pressed="false">
                        <i class="fa-solid fa-binoculars"></i>
                    </button>
                    <button class="filter-icon add-spot-tag" type="button" data-tooltip="Tourist Attraction"
                        aria-pressed="false">
                        <i class="fa-solid fa-camera"></i>
                    </button>
                    <button class="filter-icon add-spot-tag" type="button" data-tooltip="Other" aria-pressed="false">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                </div>
            </div>
        </div>

        <button class="button button--secondary add-spot-create" id="createSpotButton" type="button">
            Create Spot (Private)
        </button>
    </div>
</div>