<div class="bookmark-popup-backdrop" id="{{ popup_id }}Backdrop" hidden></div>

<div class="bookmark-popup{% if extra_class %} {{ extra_class }}{% endif %}" id="{{ popup_id }}" hidden
    aria-hidden="true">
    <div class="bookmark-popup__panel">
        <div class="bookmark-popup__title heading-2 text-black">
            Add <span class="text-secondary-dark" id="{{ popup_id }}SpotName">Spot Name</span> To:
        </div>

        <div class="bookmark-popup__collections" id="{{ popup_id }}Collections"></div>

        <div class="bookmark-popup__actions">
            <button class="button button--secondary" id="{{ popup_id }}SaveButton" type="button">
                Save
            </button>
            <button class="button button--error" id="{{ popup_id }}ClearButton" type="button">
                Clear
            </button>
        </div>
    </div>
</div>